@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .command {
    @apply
    text-custom-primary
  }
  .description {
    @apply
    text-gray-400
  }
  .skill {
    @apply
    break-keep
    font-semibold
    leading-6
    mr-4
    underline
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cursor", monospace;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.cursor {
  font-size: 12px;
  color: #c5d928;
  background-color: #c5d928;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

.text-shadow {
  text-shadow: 0 0 5px #c5d928;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
